<h1>User Profile Page</h1>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p><br>

<h3><%= @user.first_name %>'s Cart:</h3>
  <ol>
    <% @my_cart.each do |cart|  %>
      <% if cart.user_id == @user.id && cart.item_id == @item.id %>
      <li><strong><%= @item.name %></strong>       $<%= @item.price %>.00</li><br>
      <%= @item.description %><br>
      <% end %>
    <% end %>
  </ol>