<h1><%= @user.first_name %>'s Profile Page</h1>

<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p><br>

<h2>Current Cart:</h2>
<% @user.items.each do |item| %>
  <%= link_to item.name, item_path(item.id) %><br>
<% end %>
<br><button>Ready to Checkout</button>